In [2]:
#Importing Libraries
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('ACS_data.csv')

In [5]:
x=list(data.columns)
x

['geo_id',
 'do_date',
 'total_pop',
 'households',
 'male_pop',
 'female_pop',
 'median_age',
 'male_under_5',
 'male_5_to_9',
 'male_10_to_14',
 'male_15_to_17',
 'male_18_to_19',
 'male_20',
 'male_21',
 'male_22_to_24',
 'male_25_to_29',
 'male_30_to_34',
 'male_35_to_39',
 'male_40_to_44',
 'male_45_to_49',
 'male_50_to_54',
 'male_55_to_59',
 'male_65_to_66',
 'male_67_to_69',
 'male_70_to_74',
 'male_75_to_79',
 'male_80_to_84',
 'male_85_and_over',
 'female_under_5',
 'female_5_to_9',
 'female_10_to_14',
 'female_15_to_17',
 'female_18_to_19',
 'female_20',
 'female_21',
 'female_22_to_24',
 'female_25_to_29',
 'female_30_to_34',
 'female_35_to_39',
 'female_40_to_44',
 'female_45_to_49',
 'female_50_to_54',
 'female_55_to_59',
 'female_60_to_61',
 'female_62_to_64',
 'female_65_to_66',
 'female_67_to_69',
 'female_70_to_74',
 'female_75_to_79',
 'female_80_to_84',
 'female_85_and_over',
 'white_pop',
 'population_1_year_and_over',
 'population_3_years_over',
 'pop_5_years_over',
 'pop_15_and_over',
 'pop_16_over',
 'pop_25_years_over',
 'pop_25_64',
 'pop_never_married',
 'pop_now_married',
 'pop_separated',
 'pop_widowed',
 'pop_divorced',
 'not_us_citizen_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop',
 'hispanic_any_race',
 'not_hispanic_pop',
 'asian_male_45_54',
 'asian_male_55_64',
 'black_male_45_54',
 'black_male_55_64',
 'hispanic_male_45_54',
 'hispanic_male_55_64',
 'white_male_45_54',
 'white_male_55_64',
 'median_income',
 'income_per_capita',
 'income_less_10000',
 'income_10000_14999',
 'income_15000_19999',
 'income_20000_24999',
 'income_25000_29999',
 'income_30000_34999',
 'income_35000_39999',
 'income_40000_44999',
 'income_45000_49999',
 'income_50000_59999',
 'income_60000_74999',
 'income_75000_99999',
 'income_100000_124999',
 'income_125000_149999',
 'income_150000_199999',
 'income_200000_or_more',
 'pop_determined_poverty_status',
 'poverty',
 'gini_index',
 'housing_units',
 'renter_occupied_housing_units_paying_cash_median_gross_rent',
 'owner_occupied_housing_units_lower_value_quartile',
 'owner_occupied_housing_units_median_value',
 'owner_occupied_housing_units_upper_value_quartile',
 'occupied_housing_units',
 'housing_units_renter_occupied',
 'vacant_housing_units',
 'vacant_housing_units_for_rent',
 'vacant_housing_units_for_sale',
 'dwellings_1_units_detached',
 'dwellings_1_units_attached',
 'dwellings_2_units',
 'dwellings_3_to_4_units',
 'dwellings_5_to_9_units',
 'dwellings_10_to_19_units',
 'dwellings_20_to_49_units',
 'dwellings_50_or_more_units',
 'mobile_homes',
 'housing_built_2005_or_later',
 'housing_built_2000_to_2004',
 'housing_built_1939_or_earlier',
 'median_year_structure_built',
 'married_households',
 'nonfamily_households',
 'family_households',
 'households_public_asst_or_food_stamps',
 'male_male_households',
 'female_female_households',
 'children',
 'children_in_single_female_hh',
 'median_rent',
 'percent_income_spent_on_rent',
 'rent_burden_not_computed',
 'rent_over_50_percent',
 'rent_40_to_50_percent',
 'rent_35_to_40_percent',
 'rent_30_to_35_percent',
 'rent_25_to_30_percent',
 'rent_20_to_25_percent',
 'rent_15_to_20_percent',
 'rent_10_to_15_percent',
 'rent_under_10_percent',
 'owner_occupied_housing_units',
 'million_dollar_housing_units',
 'mortgaged_housing_units',
 'different_house_year_ago_different_city',
 'different_house_year_ago_same_city',
 'families_with_young_children',
 'two_parent_families_with_young_children',
 'two_parents_in_labor_force_families_with_young_children',
 'two_parents_father_in_labor_force_families_with_young_children',
 'two_parents_mother_in_labor_force_families_with_young_children',
 'two_parents_not_in_labor_force_families_with_young_children',
 'one_parent_families_with_young_children',
 'father_one_parent_families_with_young_children',
 'father_in_labor_force_one_parent_families_with_young_children',
 'commute_less_10_mins',
 'commute_10_14_mins',
 'commute_15_19_mins',
 'commute_20_24_mins',
 'commute_25_29_mins',
 'commute_30_34_mins',
 'commute_35_44_mins',
 'commute_60_more_mins',
 'commute_45_59_mins',
 'commuters_16_over',
 'walked_to_work',
 'worked_at_home',
 'no_car',
 'no_cars',
 'one_car',
 'two_cars',
 'three_cars',
 'four_more_cars',
 'aggregate_travel_time_to_work',
 'commuters_by_public_transportation',
 'commuters_by_bus',
 'commuters_by_car_truck_van',
 'commuters_by_carpool',
 'commuters_by_subway_or_elevated',
 'commuters_drove_alone',
 'group_quarters',
 'associates_degree',
 'bachelors_degree',
 'high_school_diploma',
 'less_one_year_college',
 'masters_degree',
 'one_year_more_college',
 'less_than_high_school_graduate',
 'high_school_including_ged',
 'bachelors_degree_2',
 'bachelors_degree_or_higher_25_64',
 'graduate_professional_degree',
 'some_college_and_associates_degree',
 'male_45_64_associates_degree',
 'male_45_64_bachelors_degree',
 'male_45_64_graduate_degree',
 'male_45_64_less_than_9_grade',
 'male_45_64_grade_9_12',
 'male_45_64_high_school',
 'male_45_64_some_college',
 'male_45_to_64',
 'employed_pop',
 'unemployed_pop',
 'pop_in_labor_force',
 'not_in_labor_force',
 'workers_16_and_over',
 'armed_forces',
 'civilian_labor_force',
 'employed_agriculture_forestry_fishing_hunting_mining',
 'employed_arts_entertainment_recreation_accommodation_food',
 'employed_construction',
 'employed_education_health_social',
 'employed_finance_insurance_real_estate',
 'employed_information',
 'employed_manufacturing',
 'employed_other_services_not_public_admin',
 'employed_public_administration',
 'employed_retail_trade',
 'employed_science_management_admin_waste',
 'employed_transportation_warehousing_utilities',
 'employed_wholesale_trade',
 'occupation_management_arts',
 'occupation_natural_resources_construction_maintenance',
 'occupation_production_transportation_material',
 'occupation_sales_office',
 'occupation_services',
 'management_business_sci_arts_employed',
 'sales_office_employed',
 'in_grades_1_to_4',
 'in_grades_5_to_8',
 'in_grades_9_to_12',
 'in_school',
 'in_undergrad_college',
 'speak_only_english_at_home',
 'speak_spanish_at_home',
 'speak_spanish_at_home_low_english',
 'zip_code',
 'city',
 'county',
 'state_fips_code',
 'state_code',
 'state_name',
 'fips_class_code',
 'mtfcc_feature_class_code',
 'functional_status',
 'area_land_meters',
 'area_water_meters',
 'internal_point_lat',
 'internal_point_lon',
 'internal_point_geom',
 'zip_code_geom']

In [8]:
data_sub = data[['geo_id','county_name','total_pop','households','male_pop','female_pop','median_age',
                'male_under_5','male_5_to_9','male_10_to_14','male_15_to_17',
                'male_18_to_19','male_20','male_21','male_22_to_24','male_25_to_29',
                'male_30_to_34','male_35_to_39','male_40_to_44','male_45_to_49','male_50_to_54','male_55_to_59',
                'male_65_to_66','male_67_to_69','male_70_to_74','male_75_to_79','male_80_to_84','male_85_and_over',
                'female_under_5','female_5_to_9','female_10_to_14','female_15_to_17','female_18_to_19','female_20',
                'female_21','female_22_to_24','female_25_to_29','female_30_to_34','female_35_to_39','female_40_to_44',
                'female_45_to_49','female_50_to_54','female_55_to_59','female_60_to_61','female_62_to_64','female_65_to_66',
                'female_67_to_69','female_70_to_74','female_75_to_79','female_80_to_84','worked_at_home','zip_code',
                'nonfamily_households','married_households','family_households']]

In [9]:
data_sub.dtypes

total_pop             int64
households            int64
male_pop              int64
female_pop            int64
median_age          float64
male_under_5          int64
male_5_to_9           int64
male_10_to_14         int64
male_15_to_17         int64
male_18_to_19         int64
male_20               int64
male_21               int64
male_22_to_24         int64
male_25_to_29         int64
male_30_to_34         int64
male_35_to_39         int64
male_40_to_44         int64
male_45_to_49         int64
male_50_to_54         int64
male_55_to_59         int64
male_65_to_66         int64
male_67_to_69         int64
male_70_to_74         int64
male_75_to_79         int64
male_80_to_84         int64
male_85_and_over      int64
female_under_5        int64
female_5_to_9         int64
female_10_to_14       int64
female_15_to_17       int64
female_18_to_19       int64
female_20             int64
female_21             int64
female_22_to_24       int64
female_25_to_29       int64
female_30_to_34       int64
female_35_to_39       int64
female_40_to_44       int64
female_45_to_49       int64
female_50_to_54       int64
female_55_to_59       int64
female_60_to_61       int64
female_62_to_64       int64
female_65_to_66       int64
female_67_to_69       int64
female_70_to_74       int64
female_75_to_79       int64
female_80_to_84       int64
dtype: object

In [10]:
spatial_data = gpd.read_file('tl_2019_us_zcta510/tl_2019_us_zcta510.shp')
spatial_data.head()

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,43451,43451,B5,G6350,S,63484186,157689,+41.3183010,-083.6174935,"POLYGON ((-83.70873 41.32733, -83.70815 41.327..."
1,43452,43452,B5,G6350,S,121522304,13721730,+41.5157923,-082.9809454,"POLYGON ((-83.08698 41.53780, -83.08256 41.537..."
2,43456,43456,B5,G6350,S,9320975,1003775,+41.6318300,-082.8393923,"MULTIPOLYGON (((-82.83558 41.71082, -82.83515 ..."
3,43457,43457,B5,G6350,S,48004681,0,+41.2673301,-083.4274872,"POLYGON ((-83.49650 41.25371, -83.48382 41.253..."
4,43458,43458,B5,G6350,S,2573816,39915,+41.5304461,-083.2133648,"POLYGON ((-83.22229 41.53102, -83.22228 41.532..."